<a href=/>Traveller</a> / <%= params[:date] %>

<ul>
  <% @data.map do |location_name, value| %>
    <li>
      <% if value['geo'].values.compact.empty? %>
        <%= location_name %>
      <% else %>
        <a href=<%= "https://www.google.com/maps/place/#{value['geo'].values.join ','}" %>>
          <%= location_name %>
        </a>
      <% end %>

      <% if value['overnight'] %>
        <a href=<%= value['overnight'] %>>(overnight)</a>
      <% end %>

      <ul>
        <% value['attractions'].each do |attraction| %>
          <li>

            <% if attraction['url'] %>
              <a href=<%= attraction['url'] %>><%= attraction['name'] %></a>
            <% else %>
              <%= attraction['name'] %>
            <% end %>

          </li>
        <% end %>
      </ul>


    </li>
  <% end %>
</ul>
